# Cache and logs
*.pyc
.DS_Store
stats/tmp_files/*
stats/static/tmp/*

# Parameters
instance/

# Private project files
stats/items/

# Assets and user uploads

# Backup files
*.swp
*.bak

# ignore some test files

# tmplog
logs/
files/
*.log

# Distribution files
distribute/

# Config fils
stats/items