{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='js/vendor/xlsx.core.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/Blob.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/FileSaver.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/vendor/tableexport.min.js')}}"></script>
{% endblock %}
{% block profile %} 
{% if data and 'is_favourite' in data.keys() %}
    {% if not data['is_favourite'] %}
        <li><a href=# id="a_favourite" data-fav="n">关注此页</a></li>
    {% else %}
        <li><a href=# id="a_favourite" data-fav="y">取消关注</a></li>
    {% endif %}
    <li role="separator" class="divider"></li>
{% endif %}
<script type="text/javascript">
    $("#a_favourite").click(function(e) {
        e.preventDefault()

        $.post( "{{ url_for('user.fav') }}",
        {
            'op': $(this).data('fav'),
            'route': location.pathname
        },
        function(data) {
          if (data.success){
            if($("#a_favourite").data('fav')=='n') {
                $("#a_favourite").data('fav', 'y')
                $("#a_favourite").text('取消关注')
            }else{
                $("#a_favourite").data('fav', 'n')
                $("#a_favourite").text('关注此页')   
            }
            alert('操作成功')
            return false
          }
          else{
            alert('操作失败，请稍后重试')
          }
        }, "json");
    })
</script>
{% endblock %}
{% block content %} 
{% if data %}
{% filter markdown %}
#### {{ data['title'] }}
##### - Authored by [{{ data['author'] }}](mailto:{{ data['email'] }})
{% endfilter %}

{% block stats %} {% endblock %}
{% endif %}
{% endblock %}

